esphome:
  name: temp--humidity-with-e-ink
  friendly_name: Temp + Humidity with e-ink

esp32:
  board: seeed_xiao_esp32c6
  framework:
    type: esp-idf

logger:

api:
  encryption:
    key: !secret temp_humidity_sensor_2_api_encryption_key

ota:
  - platform: esphome
    password: !secret ota_password

# Wifi settings (wifi and thread are mutually exclusive)
# wifi:
#   ssid: !secret wifi_ssid
#   password: !secret wifi_password
#   ap:
#     ssid: "Temp--Humidity-With-E-Ink"
#     password: !secret ap_password
# captive_portal:

# Thread settings (wifi and thread are mutually exclusive)
network:
  enable_ipv6: true
openthread:
  tlv: 0e080000000000010000000300000f4a0300001235060004001fffe00208aac424399670f6890708fd760ca47d861b0b05103b8b9d1a7f3d7397ff92e84f0c305feb030e68612d7468726561642d383336640102836d0410b73811fea128646a3a797efc574c96950c0402a0f7f8

# SHT40 settings
i2c:
  sda: GPIO22
  scl: GPIO23
  scan: True
  id: bus_a
sensor:
  - platform: sht4x
    i2c_id: bus_a
    temperature:
      name: "Temperature"
      id: sht4x_temperature
    humidity:
      name: "Relative Humidity"
      id: sht4x_humidity
    update_interval: 60s

# Waveshare 2.9inch v2 settings
font:
  - file:
      type: gfonts
      family: Roboto
    id: roboto_40
    size: 40

  - file:
      type: gfonts
      family: Material Symbols Outlined
    id: icons_52
    size: 52
    glyphs: [
      "\U0000e1ff", # device-thermostat
      "\U0000f87e", # humidity-percentage
    ]

spi:
  clk_pin: D8
  mosi_pin: D10

display:
  - platform: waveshare_epaper
    cs_pin: D0
    dc_pin: D1
    busy_pin: D3
    reset_pin: D2
    model: 2.90inv2-r2
    full_update_every: 30
    update_interval: 60s
    reset_duration: 2ms
    rotation: 90°
    lambda: |-
      it.print(8, 2, id(icons_52), "\U0000e1ff");
      // it.rectangle(8, 8, 52, 52);

      it.print(8, 62, id(icons_52), "\U0000f87e");
      // it.rectangle(8, 68, 52, 52);
      
      it.printf(68, 10, id(roboto_40), id(sht4x_temperature).state ? "%.1f °C" : "Refreshing...", id(sht4x_temperature).state);
      // it.rectangle(68, 14, 80, 40);
      
      it.printf(68, 70, id(roboto_40), id(sht4x_humidity).state ? "%.1f%%" : "Refreshing...", id(sht4x_humidity).state);
      // it.rectangle(68, 74, 80, 40);